@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";

html {
  scroll-behavior: smooth;
}

body {
  background-color: lightblue;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size:xx-large;
  padding:5rem;
}

p {
  font-family: 'Prosto One', cursive;
}

.questiontext {
  font-size:x-large;
  font-weight: bold;
  text-decoration: underline;
  margin:2rem;
}

.answerlabel1,
.answerlabel2,
.answerlabel3 {
  font-size: x-large;
}

.game-description {
  text-align: center;
  margin: 2rem;
  font-family: 'Prosto One', cursive;
  font-weight: bold;
}


.playerdetails {
  text-align: center;
  margin: 1rem;
  font-family: 'Prosto One', cursive;
  font-weight: bold;
}


.gameover {
  display: none;
}

.nextquestionbtn {
  display: none;
}


.questioncontainer,
.hidden {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
}

.startgamebtn,
.restartbtn {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 0.2rem;
  margin: 2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  touch-action: manipulation;
  width: auto;
}

.startgamebtn:hover,
.restartbtn:hover {
  background-color: #374151;
}

.startgamebtn:focus,
.restartbtn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
  

