@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";

html, body {
  background-color: yellow;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
};

#bxng-q-container,
#mt-q-container,
#mma-q-container {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
};


  