@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";

html {
  scroll-behavior: smooth;
}

body {
  background-color: lightblue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.bxng-q-container,
.mt-q-container,
.mma-q-container {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


  